<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entity.Properties.Settings.CoeConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Coe.accdb"
            providerName="System.Data.OleDb" />
        <add name="InfoHub.Entity.Properties.Settings.InfoHubConnectionString"
            connectionString="Data Source=D:\Projects\Visual Studio\InfoHub\Lib\Data\InfoHub.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>